<div
  class="flex flex-col border-2 border-l-4 rounded-md p-2 shadow-md hover:cursor-pointer bg-white"
  [style.border-color]="color"
  cdkDrag
>
  <span class="font-semibold">{{ properties.name }}</span>
  <span>{{ properties.desc }}</span>
  <div class="flex items-center gap-2">
    <button class="p-1 border-slate-300 border-2 rounded-md hover:text-blue-600 hover:border-blue-600" (click)="emitEdit()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-pencil"
      >
        <path
          d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"
        />
        <path d="m15 5 4 4" />
      </svg>
    </button>
    <button class="p-1 border-slate-300 border-2 rounded-md hover:text-red-600  hover:border-red-600" (click)="emitDelete()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-trash-2"
      >
        <path d="M3 6h18" />
        <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
        <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
        <line x1="10" x2="10" y1="11" y2="17" />
        <line x1="14" x2="14" y1="11" y2="17" />
      </svg>
    </button>
  </div>
</div>
