<app-navbar></app-navbar>
<div class="size-full p-2 overflow-auto" [class.blur]="activeModal !== ModalType.Disabled">
  <button class="flex p-2 border-2 rounded-md mb-2 text-white bg-blue-500 hover:bg-blue-600" (click)="addCategory()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>Add new category</button>
  <div class="size-full flex gap-2" cdkDropListGroup>
    @for (category of categories; track $index) {
      <app-task-category [properties]="category"></app-task-category>
    }
  </div>
</div>
@switch (activeModal) {
  @case (ModalType.Task) {
    <app-task-modal></app-task-modal>
  }
  @case (ModalType.Category) {
    <app-category-modal></app-category-modal>
  }
}
